__pycache__
**/__pycache__
**/*__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.env.example
README.md

# vscode
.vscode

# Mac
.DS_Store

# tmp test run files
tmp.py 
tmp.txt
corpus.txt
